.not-found{
    min-height: 80vh; 
    flex-direction: column;
    gap: 1rem;
}
.not-found h1{
    color: var(--green);
    font-size: 5rem;
}
.not-found a{
    color:  var(--green);
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}